
@{
    ViewBag.Title = "ImportSupplies";
    Layout = "~/Views/Shared/_LayoutPageWarehouseManagement.cshtml";
}

<h2>ImportSupplies</h2>
<section class="content">
    <div class="form-group">
        <label for="exampleInputFile">Import Excel</label>
        <input type="file" id="exampleInputFile">

        <p class="help-block">Example block-level help text here.</p>
    </div>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <button class="btn btn-success" id="btnAddNew">Thêm mới</button>
            <table style="width:100%" class="table table-bordered">
                <thead>
                    <tr>
                        @*<th>#</th>*@
                        <th>Mã Sản Phẩm</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Số Lượng</th>
                        <th>Đơn Vị</th>
                        <th>Ghi Chú</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                    
                    <tr id="template-row" style="display:none;">
                        @*<td class="colIndex"></td>*@
                        <td class="colCode"></td>
                        <td class="colName"></td>
                        <td class="colQuantity"><input type="number"  min="1" class="txtQuantity form-control" value="" /></td>
                        <td class="colUnit"></td>
                        <td class="colNote"><input type="text" class="txtNote form-control" value="" /></td>
                    </tr>
                </tbody>


            </table>
        </div>
        <!-- /.box-body -->
    </div>
</section>

<script src="~/Scripts/customScript/importSupplies.js"></script>