
@{
    ViewBag.Title = "LabTestingDone";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .modal {
        overflow: auto !important;
    }
</style>
<section class="content-header">
    <h1>
        Kết Quả Xét Nghiệm
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách kết quả</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã lịch hẹn</th>
                                <th>Tên xét nghiệm</th>
                                <th>Mẫu xét nghiệm</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody id="tblDataLabTestingResult"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.col -->
</section>

<div style="margin-left:35%" id="pagination" class="pagination">
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblPopupTitle">CHỈNH SỬA NHẬN XÉT</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="txtAppCodeLT" name="txtAppCodeLT" value="0">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Chẩn đoán:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="txtResultLT" name="txtResultLT">
                    </div>
                    <br/><label class="control-label col-sm-2" for="email">Ghi chú: </label><br />
                    <textarea class="textarea" placeholder="Place some text here" id="txtCMTLT" name="txtCMTLT"
                              style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>


            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="btnSaveResultLT" class="btn btn-success">Lưu</button>
                </div>
            </div>

        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<form target="_blank"  action="/LabTest/ViewDetailOnWeb" style="display:none" id="hiddenFormView" method="post"> <input type="text" class="form-control" id="txtResultCodeView" name="code"></form>
<form action="/LabTest/ExportDetailToPdf" style="display:none" id="hiddenForm" method="post"> <input type="text" class="form-control" id="txtResultCode" name="code"></form>
<script id="dataLabTestingResult-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Getting}}</td>
        <td>{{Name}}</td>
        <td>{{Group}}</td>
        <td>{{Status}}</td>
        
        <td>
            <button class="btn btn-primary btn-editResult" data-id="{{Getting}}"><i class="fa fa-pencil-square-o"></i></button>
            <button class="btn btn-success btn-printResult" data-id="{{Getting}}"><i class="fa fa-print"></i></button>
            <button class="btn btn-success btn-viewResult" data-id="{{Getting}}"><i class="fa fa-eye"></i></button>
        </td>
    </tr>
</script>

<script src="~/Scripts/customScript/labtestResult.js"></script>