
@{
    ViewBag.Title = "LabTestingResult";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section styles{
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">*@

    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/froala_editor.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/froala_style.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/draggable.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/colors.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/image.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/table.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/video.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/file.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/quick_insert.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/help.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/third_party/spell_checker.css">
    <link rel="stylesheet" href="~/Assets/plugins/froala_editor_2.9.1/css/plugins/special_characters.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

    <style>
        .modal {
            overflow: auto !important;
        }
    </style>
}

<section class="content-header">
    <h1>
        Ghi Kết Luận
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách kết quả chờ duyệt</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã lịch hẹn</th>
                                <th>Tên bệnh nhân</th>
                                <th>Ngày sinh</th>
                                <th>Trạng thái</th>
                                <th>Ghi kết luận</th>
                            </tr>
                        </thead>
                        <tbody id="tblDataLabTestingResult"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.col -->
</section>

<div style="margin-left:35%" id="pagination" class="pagination">
</div>
<div id="myModalLabTestingResult" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblPopupTitle">Kết quả xét nghiệm</h4>
            </div>
            <div class="modal-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>LabTestingId</th>
                            <th>Mã lịch hẹn</th>
                            <th>Tên xét nghiệm</th>
                            <th>Trạng thái</th>
                            <th>Xem thông số</th>
                        </tr>
                    </thead>
                    <tbody id="tblDataLabTestingResult1"></tbody>
                </table>
                <div style="margin-left:35%" id="pagination" class="pagination"></div>
            </div>
            <div style="margin-right:35%">  </div>
            <input type="hidden" class="form-control" id="txtCode" name="txtCode" value="0">
            <label class="control-label col-sm-2" for="email">Chẩn đoán: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="txtResult" name="txtResult">
            </div><br />
            <label class="control-label col-sm-2" for="email">Ghi chú: </label>
            <br />
            @*<textarea class="textarea" placeholder="Place some text here" id="txtCMT" name="txtCMT"
                style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>*@
            <div style="padding: 0 15px">
                <div id="txtCMT" style="margin-top: 30px"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btnAddNewResult">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModalLabTestingIndexResult1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="lblPopupTitle">Kết quả xét nghiệm</h4>
            </div>
            <input type="hidden" class="form-control" id="txtLabtestingFailID" name="txtLabtestingFailID" value="0">
            <button class="btn btn-danger" id="btnAgain">Cần làm xét nghiệm lại</button>
            <div class="modal-body">

                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Labtesting ID</th>
                            <th>Index Name</th>
                            <th>Index Value</th>
                            <th>Trạng Thái</th>
                            <th>Mức Trung Bình</th>
                            <th>Đơn Vị</th>
                        </tr>
                    </thead>
                    <tbody id="tblDataLabTestingIndexResult1"></tbody>
                </table>
                <div style="margin-left:35%" id="pagination" class="pagination"></div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script id="dataLabTestingResult-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Getting}}</td>
        <td>{{Name}}</td>
        <td>{{Group}}</td>
        <td>{{Status}}</td>
        <td>
            <button class="btn btn-success btn-editLabTestingResult" data-id="{{Getting}}"><i class="fa fa-pencil"></i></button>

        </td>
    </tr>
</script>
<script id="dataLabTestingResult1-template" type="x-tmpl-mustache">
    <tr>
        <td>{{LabTestingId}}</td>
        <td>{{Getting}}</td>
        <td>{{Name}}</td>
        <td>{{Status}}</td>
        <td>
            <button class="btn btn-success btn-viewLabTestingIndex" data-id="{{LabTestingId}}"><i class="fa fa-eye"></i></button>

        </td>
    </tr>
</script>
<script id="dataLabTestingIndexResult1-template" type="x-tmpl-mustache">
    <tr>
        <td>{{LabTestingId}}</td>
        <td>{{Name}}</td>
        <td>{{Value}}</td>
        <td style="{{changeColor}}">{{Status}}</td>
        <td>{{Nomal}}</td>
        <td>{{Unit}}</td>

    </tr>
</script>

@section scripts{
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/infragistics.core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/infragistics.lob.js"></script>

    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_collections.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_text.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_io.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_ui.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_ui.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.documents.core_core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_collectionsextended.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.excel_core.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_threading.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.ext_web.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.xml.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.documents.core_openxml.js"></script>
    <script type="text/javascript" src="http://cdn-na.infragistics.com/igniteui/2018.1/latest/js/modules/infragistics.excel_serialization_openxml.js"></script>

    <!-- Froala Editor -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/file.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/quote.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/video.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/help.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/print.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/third_party/spell_checker.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/special_characters.min.js"></script>
    <script type="text/javascript" src="~/Assets/plugins/froala_editor_2.9.1/js/plugins/word_paste.min.js"></script>
    <!-- /Froala Editor -->
    <script>
        $('#txtCMT').froalaEditor({
            height: 300
        })
    </script>

    <script src="~/Scripts/customScript/importLabTest.js"></script>
}