<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from static.crazycafe.net/crazycafe/medifair/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Oct 2018 16:14:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>eLTMS | FPT University 2018</title>
    <!-- === Animation css=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/animate.min.css">
    <!-- === Bootstrap=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/bootstrap.min.css">
    <!-- === owlcarousel=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/owl.carousel.min.css">
    <!-- === matarial icon=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/material-design-iconic-font.min.css">
    <!-- === matarial icon=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/slicknav.min.css">
    <!-- === Magnific popup=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/magnific-popup.css">
    <!-- === matarial icon=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/nice-select.css">
    <!-- === owlcarousel=== -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/style.css">
    <!-- === responsive css === -->
    <link rel="stylesheet" href="/Areas/UserWeb/Content/assets/css/responsive.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="preloader">
        <img src="/Areas/UserWeb/Content/assets/img/preloader.gif" alt="">
    </div>
    <!-- header Area Start-->
    <header>
        <div class="header_area home_2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-6">
                        <a href="index-2.html" class="site_logo">
                            <img src="/Areas/UserWeb/Content/assets/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-lg-10 text-left col-6">
                        <nav class="menu_bar">
                            <ul class="main_menu">
                                <li>
                                    <a href="index-2.html">Home</a>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li>
                                    <a href="depertment.html">Departments</a>
                                    <ul>
                                        <li><a href="depertment.html">Departments</a></li>
                                        <li><a href="depertment_details.html">Departments Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="doctor.html">Doctor</a>
                                    <ul>
                                        <li><a href="doctor.html">Doctor</a></li>
                                        <li><a href="doctor_detail.html">Doctor Details</a></li>
                                        <li><a href="appoinment_form.html">Appoinment</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="service.html">Service</a>
                                    <ul>
                                        <li><a href="service.html">Service</a></li>
                                        <li><a href="service_details.html">Service Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Page</a>
                                    <ul>
                                        <li>
                                            <a href="blog.html">Blog</a>
                                            <ul>
                                                <li><a href="blog.html">Blog v1</a></li>
                                                <li><a href="blog2.html">Blog v2</a></li>
                                                <li><a href="blog3.html">Blog v3</a></li>
                                                <li><a href="blog4.html">Blog v4</a></li>
                                                <li><a href="blog_details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="404.html">Error Page</a></li>
                                        <li>
                                            <a href="shop.html">Shop</a>
                                            <ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="single_shop.html">Shop Details</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="time_table.html">Time Table</a></li>
                                        <li><a href="priceing_table.html">Pricing Table</a></li>
                                        <li><a href="testimonial.html">Testimonial</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li>
                                            <a href="gallery.html">Gallery</a>
                                            <ul>
                                                <li><a href="gallery.html">Gallery -V1</a></li>
                                                <li><a href="gallery2.html">Gallery -V2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                            <form action="#" class="search_form">
                                <input type="search" placeholder="Search here">
                                <button type="submit"><i class="zmdi zmdi-search"></i></button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header Area end-->

    @RenderBody()

    <!-- Footer Area Start-->
    <footer class="no_overlay" style="background-image: url(/Areas/UserWeb/Content/assets/img/shape5.png);">
        <div class="footer_area home_2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_content_box">
                            <div class="footer_logo">
                                <img src="/Areas/UserWeb/Content/assets/img/logo.png" alt="">
                            </div>
                            <p>Mauna Loa the biggest volcano on Earth and one of the most active covers half the Island of Hawaii.</p>
                            <ul class="social_links2">
                                <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-12">
                        <div class="footer_widget">
                            <h4>Services link</h4>
                            <ul class="widget_menu">
                                <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> About us</a></li>
                                <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Service</a></li>
                                <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Doctors</a></li>
                                <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Appointment</a></li>
                                <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Opening Hours</a></li>
                                <li><a href="#"><i class="zmdi zmdi-long-arrow-right"></i> Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4  col-12">
                        <div class="footer_widget">
                            <h4>Useful link</h4>
                            <a href="#" class="single_recent_post">
                                <span class="rp_img" style="background-image: url(/Areas/UserWeb/Content/assets/img/blog1.jpg);"></span>
                                <h4>How to Live a Healthier Life</h4>
                                <span>October 27, 2017</span>
                            </a>
                            <a href="#" class="single_recent_post">
                                <span class="rp_img" style="background-image: url(/Areas/UserWeb/Content/assets/img/blog2.jpg);"></span>
                                <h4>Medical Advice for all ages</h4>
                                <span>October 27, 2017</span>
                            </a>
                            <a href="#" class="single_recent_post">
                                <span class="rp_img" style="background-image: url(/Areas/UserWeb/Content/assets/img/blog3.jpg);"></span>
                                <h4>Achieving Better Health </h4>
                                <span>October 27, 2017</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_widget">
                            <h4>Stay connected</h4>
                            <ul class="footer_contact_inf">
                                <li><a href="tel:0621099222"><i class="zmdi zmdi-phone"></i> (062) 109-9222</a></li>
                                <li><a href="mailto:huel.simone@hotmail.com"><i class="zmdi zmdi-email"></i> huel.simone@hotmail.com</a></li>
                                <li>
                                    <i class="zmdi zmdi-pin"></i><span>
                                        6281 Liana Extensions,
                                        Lemkeport, NY 01688-8754
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_area home_2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>©2018 Crazycafe.All Rights Reserved. Designed by <a href="#"><i class="zmdi zmdi-favorite-outline"></i> Crazycafe.net</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End-->
    <!-- === Jquery=== -->
    <script src="/Areas/UserWeb/Content/assets/js/jquery-2.1.4.min.js"></script>
    <!-- === Jquery=== -->
    <script src="/Areas/UserWeb/Content/assets/js/popper.min.js"></script>
    <!-- === bootsrap=== -->
    <script src="/Areas/UserWeb/Content/assets/js/bootstrap.min.js"></script>
    <!-- === waypoint=== -->
    <script src="/Areas/UserWeb/Content/assets/js/waypoint.js"></script>
    <!-- === CounterUp=== -->
    <script src="/Areas/UserWeb/Content/assets/js/counterup.js"></script>
    <!-- === owl-carousel=== -->
    <script src="/Areas/UserWeb/Content/assets/js/owl.carousel.min.js"></script>
    <!-- === Magnific popup=== -->
    <script src="/Areas/UserWeb/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- === Isotope=== -->
    <script src="/Areas/UserWeb/Content/assets/js/isotope.pkgd.min.js"></script>
    <!-- === owl-carousel=== -->
    <script src="/Areas/UserWeb/Content/assets/js/jquery.slicknav.min.js"></script>
    <!-- === owl-carousel=== -->
    <script src="/Areas/UserWeb/Content/assets/js/jquery.nice-select.min.js"></script>
    <!-- === active js=== -->
    <script src="/Areas/UserWeb/Content/assets/js/active.js"></script>
    <!-- === custom js=== -->
    @RenderSection("scripts")
</body>


<!-- Mirrored from static.crazycafe.net/crazycafe/medifair/index2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Oct 2018 16:15:10 GMT -->
</html>