<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Liên hệ</h1>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- contact Page Start-->
<div class="contact_page_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 offset-md-1 order-md-8">
                <div class="contact_inf_area">
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="/Areas/UserWeb/Assets/img/contact_icon3.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Đường dây nóng</h5>
                            <a href="tel:02839270284">84-28-39270284</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="/Areas/UserWeb/Assets/img/contact_icon2.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Địa chỉ</h5>
                            <a href="#">254 Hòa Hảo, Quận 10, TP Hồ Chí Minh</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="/Areas/UserWeb/Assets/img/contact_icon4.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Email</h5>
                            <a href="mailto:hoahao254@medic.com.vn" style="font-size: 12px">hoahao254@medic.com.vn</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <form action="#" class="contact_form2">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Họ tên">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Tiêu đề">
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Nội dung"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="custom_btn">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- contact Page End-->