<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Service Details</h1>
                <div class="breadcroumb_link">
                    <a href="index-2.html">Home </a>/ Service Details
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- ServiceDetailss Area Start-->
<div class="service_details_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="service_details_wraper">
                    <img src="/Areas/UserWeb/Content/assets/img/service_details1.jpg" alt="">
                    <h4>Emergency unit</h4>
                    <p>Looking for these genetic signposts in sediment has become possible only in the la st few years with recente composition at the deep composition at the deep mantle, just at the border of its core. Scientists have seismic evidence that the deep part of the mantle is a graveyard where long ago slabs of earth were subducted, </p>
                    <br>
                    <br>
                    <p>Student at Australian National University and the lead author of a paper published in Nature on Wednesday that may hold the answer. Mr. Jones and his colleagues developed a model that simulates what’s happening in our planet’s mantle .</p>
                    <br>
                    <div class="service_quote">
                        <i class="zmdi zmdi-quote"></i>
                        <h4>
                            Minim veniam, quis laboris commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit.
                        </h4>
                        <strong>From Rasel ahmed</strong>
                    </div>
                    <br>
                    <ul class="service_list_items">
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> would ever be possible to fish out gene fragments
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> limited by the availability of fossil bones.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Crust on a peninsula in western Russia But now.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> especially significant in a state imperiled by rising
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> limited by the availability of fossil bones.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> Crust on a peninsula in western Russia But now.
                        </li>
                        <li>
                            <i class="zmdi zmdi-play-circle"></i> especially significant in a state imperiled by rising
                        </li>
                    </ul>
                    <br>
                    <p>Expression of modern scientific inquiry and exposition. Its opening follows a series of setbacks and lawsuits and a scramble to finish the square-foot structure At one point the project ran precariously short of money The museum’s high-profile open especially significant in a state imperiled by rising sea levels </p>
                    <br>
                    <p>Wednesday scientists near California’s Monterey Bay have found that through this process, giant larvaceans can filter all of the bay’s watere .</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section_title">
                    <h1>Make an appoinment now!</h1>
                    <p>Promises to open new avenues of research into human prehistory and was met with excitement by geneticists and .</p>
                </div>
                <form action="#" class="contact_form">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="text" placeholder="Your name">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="calender">
                                <input type="text" placeholder="Date of Birth">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <input type="text" placeholder="Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <select>
                                <option value="Select your service">Select your service</option>
                                <option value="Select your service">Select your service</option>
                                <option value="Select your service">Select your service</option>
                                <option value="Select your service">Select your service</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="calender">
                                <input type="text" placeholder="Reservation date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea placeholder="Enter message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="custom_btn">Submit now <i class="zmdi zmdi-plus"></i></button>
                        </div>
                    </div>
                </form>
                <div class="more_service_area">
                    <h1>More medical service</h1>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service1.png" alt=""></span>
                                <h4>Health care</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service2.png" alt=""></span>
                                <h4>Qualified doctors</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service3.png" alt=""></span>
                                <h4>Ambulance</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service4.png" alt=""></span>
                                <h4>Drag store</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service5.png" alt=""></span>
                                <h4>DNA testing</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service6.png" alt=""></span>
                                <h4>Outdoor Checkup</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service7.png" alt=""></span>
                                <h4>Blood Test</h4>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="single_service">
                                <span class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service8.png" alt=""></span>
                                <h4>Cancer Service</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ServiceDetailss Area End-->