<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>About us</h1>
                <div class="breadcroumb_link">
                    <a href="index-2.html">Đặt lịch xét nghiệm
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- AboutMedifair Area Start-->
<div class=" about_page">
    <div class="container">

    </div>
</div>
<!-- AboutMedifair Area End-->