<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Appointment</h1>
                <div class="breadcroumb_link">
                    <a href="index-2.html">Home </a>/ Appointment
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- appoinment Page Start-->
<div class="appoinment_form_area p100">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="step-1">
                    <h2>
                        <b>Bước 1/2: Chọn loại xét nghiệm:</b>
                    </h2>
                    <h3>1. Máu</h3>
                    <input type="checkbox" name="" values="Máu 1" />
                    Ct Máu
                    <br>
                    <input type="checkbox" name="" values="Máu 2" />
                    VSS
                    <br>
                    <input type="checkbox" name="" values="Máu 3" />
                    Tiểu cầu, độ tập trung

                    <h3>2. Nước tiểu</h3>
                    <label>
                        <input type="checkbox" name="" values="Máu 1" />
                        Nước tiểu toàn phần
                    </label>
                    <br>
                    <input type="checkbox" name="" values="Máu 2" />
                    Cấy, KSĐ
                    <br>
                    <input type="checkbox" name="" values="Máu 3" />
                    Heroin

                    <h3>3. Dịch</h3>
                    <input type="checkbox" name="" values="Máu 1" />
                    Soi tươi
                    <br>
                    <input type="checkbox" class="checkbox" name="" values="Máu 2" />
                    Tinh dịch đồ
                    <br>
                    <input type="checkbox" name="" values="Máu 3" />
                    Demodex

                    <br><br>
                    <button id="btn-next" type="button" class="custom_btn">Sang bước 2</button>
                </div> <!-- end step 1 -->
                <div id="step-2">
                    <h2>
                        <b>Bước 2/2: Chọn thời gian:</b>
                    </h2>
                    <h3>1. Máu</h3>
                    <select style="overflow-y: scroll">
                        <option>7:00 - 7:15</option>
                        <option>7:15 - 7:30</option>
                        <option>7:30 - 7:45</option>
                        <option>7:45 - 8:00</option>
                        <option>7:00 - 7:15</option>
                        <option>7:15 - 7:30</option>
                        <option>7:30 - 7:45</option>
                        <option>7:45 - 8:00</option>
                        <option>7:00 - 7:15</option>
                        <option>7:15 - 7:30</option>
                        <option>7:30 - 7:45</option>
                        <option>7:45 - 8:00</option>
                        <option>7:00 - 7:15</option>
                        <option>7:15 - 7:30</option>
                        <option>7:30 - 7:45</option>
                        <option>7:45 - 8:00</option>
                        <option>7:00 - 7:15</option>
                        <option>7:15 - 7:30</option>
                        <option>7:30 - 7:45</option>
                        <option>7:45 - 8:00</option>
                    </select>

                    <h3>2. Nước tiểu</h3>
                    <select>
                        <option>7:00 - 7:15</option>
                        <option>7:15 - 7:30</option>
                        <option>7:30 - 7:45</option>
                        <option>7:45 - 8:00</option>
                    </select>

                    <h3>3. Dịch</h3>
                    <select>
                        <option>7:00 - 7:15</option>
                        <option>7:15 - 7:30</option>
                        <option>7:30 - 7:45</option>
                        <option>7:45 - 8:00</option>
                    </select>

                    <br><br>
                    <button id="btn-prev" type="button" class="custom_btn">Về bước 1</button>
                    <button id="btn-submit" type="button" class="custom_btn">Đặt lịch</button>
                </div> <!-- end step 2 -->
                <!-- <div class="row text">
                    <div class="col">
                        <button id="btn-submit" type="button" class="custom_btn">Đặt lịch<i class="zmdi zmdi-plus"></i></button>
                    </div>
                </div> -->
            </div>
            <div class="col-md-6 text-right">
                <div class="appoinment_Img">
                    <img src="assets/img/appoionment-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- appoinment Page End-->

@section scripts{
    <script>
        $(function () {

            $("#step-2").hide(0);
            $("#btn-next").click(function () {
                var duration = 200;
                $("#step-1").fadeOut(duration, function () {
                    $("#step-2").fadeIn(duration);
                });
            })
            $("#btn-prev").click(function () {
                var duration = 200;
                $("#step-2").fadeOut(duration, function () {
                    $("#step-1").fadeIn(duration);
                });
            })
            $("#btn-submit").click(function () {
                $.ajax({
                    url: "/api/appointment/create",
                    data: objAppointment
                }).success(function (data) {
                    //console.log(data);
                    samples = data;
                })
            })

            samples = [];
            $.ajax({
                url: "/api/sample/get-all"
            }).success(function (data) {
                //console.log(data);
                samples = data;
            })
        })
    </script>
}