<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Contact</h1>
                <div class="breadcroumb_link">
                    <a href="index-2.html">Home </a>/ Contact
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- contact Page Start-->
<div class="map"></div>
<div class="contact_page_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 offset-md-1 order-md-8">
                <div class="contact_inf_area">
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="/Areas/UserWeb/Content/assets/img/contact_icon1.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Emergency contact</h5>
                            <span>free call 24/ 7</span>
                            <a href="tel:8754666746">(875) 466-6746</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="/Areas/UserWeb/Content/assets/img/contact_icon2.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Home visit</h5>
                            <a href="tel:8754666746">(875) 466-6746</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="/Areas/UserWeb/Content/assets/img/contact_icon3.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Phone contact</h5>
                            <a href="tel:8754666746">(875) 466-6746</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="/Areas/UserWeb/Content/assets/img/contact_icon4.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Email us</h5>
                            <a href="mailto:yframi@yahoo.com">yframi@yahoo.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <form action="#" class="contact_form2">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" placeholder="Subject">
                        </div>
                        <div class="col-lg-12">
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="custom_btn">Submit now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- contact Page End-->