<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Faq</h1>
                <div class="breadcroumb_link">
                    <a href="index-2.html">Home </a>/ FAQ
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- faq page Start-->
<div class="faq_page_area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-12">
                <nav class="auto-hide-filter">
                    <ul class="faq_filter one_page">
                        <li><a href="#faq1">What is a Patient Centered Medical Home?</a></li>
                        <li><a href="#faq2">What do I need to do during registration?</a></li>
                        <li><a href="#faq3">What is the deposit amount for admission?</a></li>
                        <li><a href="#faq4">What is a Patient Centered Medical Home?</a></li>
                        <li><a href="#faq5">What does non-exclusive mean?</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-8 ">
                <div class="single_faq" id="faq1">
                    <h4>What is a Patient Centered Medical Home?</h4>
                    <p>Wednesday scientists near California’s Monterey Bay have found that, through this process giant larvaceans can filter all of the bay’s water from about 300 to 1,000 feet deep in less than two weeks, making them the fastest known zooplankton filter the atmosphere by photosynthesizing organisms to the deep sea .</p>
                    <br>
                    <p>Managers did not send Cassini here until the mission’s final months As a better safthan sorry precaution the spacecraft was pointed with its big radio dish facing forward like a shield. Not only was there </p>
                    <br>
                    <p>Saturn and its innermost ring on April 26, the first of 22 such encounters before it will plunge into Saturn’s atmo sphere in September What Cassini did not.</p>
                </div>
                <div class="single_faq" id="faq2">
                    <h4>What is a Patient Centered Medical Home?</h4>
                    <p>Wednesday scientists near California’s Monterey Bay have found that, through this process giant larvaceans can filter all of the bay’s water from about 300 to 1,000 feet deep in less than two weeks, making them the fastest known zooplankton filter the atmosphere by photosynthesizing organisms to the deep sea .</p>
                    <br>
                    <p>Managers did not send Cassini here until the mission’s final months As a better safthan sorry precaution the spacecraft was pointed with its big radio dish facing forward like a shield. Not only was there </p>
                    <br>
                    <p>Saturn and its innermost ring on April 26, the first of 22 such encounters before it will plunge into Saturn’s atmo sphere in September What Cassini did not.</p>
                </div>
                <div class="single_faq" id="faq3">
                    <h4>What is a Patient Centered Medical Home?</h4>
                    <p>Wednesday scientists near California’s Monterey Bay have found that, through this process giant larvaceans can filter all of the bay’s water from about 300 to 1,000 feet deep in less than two weeks, making them the fastest known zooplankton filter the atmosphere by photosynthesizing organisms to the deep sea .</p>
                    <br>
                    <p>Managers did not send Cassini here until the mission’s final months As a better safthan sorry precaution the spacecraft was pointed with its big radio dish facing forward like a shield. Not only was there </p>
                    <br>
                    <p>Saturn and its innermost ring on April 26, the first of 22 such encounters before it will plunge into Saturn’s atmo sphere in September What Cassini did not.</p>
                </div>
                <div class="single_faq" id="faq4">
                    <h4>What is a Patient Centered Medical Home?</h4>
                    <p>Wednesday scientists near California’s Monterey Bay have found that, through this process giant larvaceans can filter all of the bay’s water from about 300 to 1,000 feet deep in less than two weeks, making them the fastest known zooplankton filter the atmosphere by photosynthesizing organisms to the deep sea .</p>
                    <br>
                    <p>Managers did not send Cassini here until the mission’s final months As a better safthan sorry precaution the spacecraft was pointed with its big radio dish facing forward like a shield. Not only was there </p>
                    <br>
                    <p>Saturn and its innermost ring on April 26, the first of 22 such encounters before it will plunge into Saturn’s atmo sphere in September What Cassini did not.</p>
                </div>
                <div class="single_faq" id="faq5">
                    <h4>What is a Patient Centered Medical Home?</h4>
                    <p>Wednesday scientists near California’s Monterey Bay have found that, through this process giant larvaceans can filter all of the bay’s water from about 300 to 1,000 feet deep in less than two weeks, making them the fastest known zooplankton filter the atmosphere by photosynthesizing organisms to the deep sea .</p>
                    <br>
                    <p>Managers did not send Cassini here until the mission’s final months As a better safthan sorry precaution the spacecraft was pointed with its big radio dish facing forward like a shield. Not only was there </p>
                    <br>
                    <p>Saturn and its innermost ring on April 26, the first of 22 such encounters before it will plunge into Saturn’s atmo sphere in September What Cassini did not.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq page End-->