<!-- Welcome Area Start-->
<div class="welcome_areaa home2" style="background-image: url(/Areas/UserWeb/Content/assets/img/welcome_shape3.png);">
    <div class="container">
        <div class="welcome_slider with_form owl-carousel">
            <div class="single_welcome_slider">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="welcome_content">
                            <h1>A smile is the prettiest thing you can wear.</h1>
                            <p>Student at Australian National University and the lead author in Nature on Wednesday that may hold the answer Jones </p>
                            <a href="#" class="custom_btn home_2">Know more  <i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7 d-none col-md-6 d-md-block">
                        <form action="#" class="contact_form2 d-xs-none">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h5>Appoinment now!</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-12">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <div class="calender">
                                        <input type="text" placeholder="Appoinment date">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="read_btn">Submit now <i class="zmdi zmdi-plus"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="single_welcome_slider">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="welcome_content">
                            <h1>A smile is the prettiest thing you can wear.</h1>
                            <p>Student at Australian National University and the lead author in Nature on Wednesday that may hold the answer Jones </p>
                            <a href="#" class="custom_btn home_2">Know more  <i class="zmdi zmdi-plus"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 d-none d-md-block">
                        <form action="#" class="contact_form2 ">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h5>Appoinment now!</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-12">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <div class="calender">
                                        <input type="text" placeholder="Appoinment date">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="read_btn">Submit now <i class="zmdi zmdi-plus"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Welcome Area End-->
<!-- Cbox Area Start-->
<div class="cbox_area">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_cbox2">
                    <h5>24 Hours Dental Services</h5>
                    <p>Wednesday scientists near California’s Monte Bay have found that, through this process, giant larvaceans can filter all of the</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_cbox2">
                    <h5>Dental implants</h5>
                    <p>Wednesday scientists near California’s Monte Bay have found that, through this process, giant larvaceans can filter all of the</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="single_cbox2">
                    <h5>Fexible payment options</h5>
                    <p>Wednesday scientists near California’s Monte Bay have found that, through this process, giant larvaceans can filter all of the</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cbox Area end-->
<!-- About Area Start-->
<div class="about_area pb_none" style="background-image: url(/Areas/UserWeb/Content/assets/img/shape1.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-6">
                <div class="about_righ_content home_2">
                    <img src="/Areas/UserWeb/Content/assets/img/about3.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=3-iCDOYkfms" class="video_popup">See this video <i class="zmdi zmdi-play-circle-outline"></i> </a>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="about_content home_2">
                    <h1>
                        We use advanced proven technology to keep your smile looking the best
                    </h1>
                    <p>Especially significant in a state imperiled by rising sea levels and overi by a governor, Rick Scott, who has said he is unconvinced that climat nge and global warming are real and whose administration is widely the terms. the problem is not that people don’t believe .</p>
                    <br>
                    <a href="#" class="custom_btn home_2">Know more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End-->
<!-- depertment Area Start-->
<div class="depertment_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7 col-md-8 text-center">
                <div class="section_title">
                    <h1>Our Services</h1>
                    <p>Tracks along the Hawaiian-Emperor chain formed over the same hot spot in the Pacific and why are their chemical compositions so different knew this was .</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 single_service2_wraper">
                <div class="single_service2">
                    <div class="service_icon">
                        <span style="background-image: url(/Areas/UserWeb/Content/assets/img/service2_icon2.png);"></span>
                    </div>
                    <h5>Implant dentistry</h5>
                    <p>Crust on a peninsula in western int But now we can better understand what’s happening below by</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single_service2_wraper">
                <div class="single_service2">
                    <div class="service_icon">
                        <span style="background-image: url(/Areas/UserWeb/Content/assets/img/service2_icon3.png);"></span>
                    </div>
                    <h5>Cavity protection</h5>
                    <p>Crust on a peninsula in western int But now we can better understand what’s happening below by</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single_service2_wraper">
                <div class="single_service2">
                    <div class="service_icon">
                        <span style="background-image: url(/Areas/UserWeb/Content/assets/img/service2_icon4.png);"></span>
                    </div>
                    <h5>Root canals</h5>
                    <p>Crust on a peninsula in western int But now we can better understand what’s happening below by</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single_service2_wraper">
                <div class="single_service2">
                    <div class="service_icon">
                        <span style="background-image: url(/Areas/UserWeb/Content/assets/img/service2_icon5.png);"></span>
                    </div>
                    <h5>Teeth Cleaning</h5>
                    <p>Crust on a peninsula in western int But now we can better understand what’s happening below by</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single_service2_wraper">
                <div class="single_service2">
                    <div class="service_icon">
                        <span style="background-image: url(/Areas/UserWeb/Content/assets/img/service2_icon6.png);"></span>
                    </div>
                    <h5>Tooth restorations</h5>
                    <p>Crust on a peninsula in western int But now we can better understand what’s happening below by</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 single_service2_wraper">
                <div class="single_service2">
                    <div class="service_icon">
                        <span style="background-image: url(/Areas/UserWeb/Content/assets/img/service2_icon1.png);"></span>
                    </div>
                    <h5>Cosmetic dentistry</h5>
                    <p>Crust on a peninsula in western int But now we can better understand what’s happening below by</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#" class="read_btn">View all <i class="zmdi zmdi-play-circle-outline"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- depertment Area end-->
<div class="shape-left" style="background-image: url(/Areas/UserWeb/Content/assets/img/shape2.png);">
    <!-- doctor Area Start-->
    <div class="docotor_slide_area">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-7 col-md-8 text-center">
                    <div class="section_title">
                        <h1>Meet our doctors</h1>
                        <p>Tracks along the Hawaiian-Emperor chain formed over the same hot spot in the Pacific and why are their chemical compositions so different knew this was .</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center text-center">
                <div class="col">
                    <div class="doctor_slider owl-carousel">
                        <div class="single_doctor_slide">
                            <div class="doctor_img">
                                <img src="/Areas/UserWeb/Content/assets/img/doctor2.jpg" alt="">
                            </div>
                            <h5>Risi siva</h5>
                            <span>Cardiology</span>
                            <p>Pound oculus a lens that will give the impressi And that’s just one of many attractio.</p>
                            <div class="social_cion">
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="single_doctor_slide">
                            <div class="doctor_img">
                                <img src="/Areas/UserWeb/Content/assets/img/doctor3.jpg" alt="">
                            </div>
                            <h5>Douglas Pagac</h5>
                            <span>Cardiology</span>
                            <p>Pound oculus a lens that will give the impressi And that’s just one of many attractio.</p>
                            <div class="social_cion">
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="single_doctor_slide">
                            <div class="doctor_img">
                                <img src="/Areas/UserWeb/Content/assets/img/doctor1.jpg" alt="">
                            </div>
                            <h5>Hermina Ferry</h5>
                            <span>Cardiology</span>
                            <p>Pound oculus a lens that will give the impressi And that’s just one of many attractio.</p>
                            <div class="social_cion">
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="single_doctor_slide">
                            <div class="doctor_img">
                                <img src="/Areas/UserWeb/Content/assets/img/doctor4.jpg" alt="">
                            </div>
                            <h5>Risi siva</h5>
                            <span>Cardiology</span>
                            <p>Pound oculus a lens that will give the impressi And that’s just one of many attractio.</p>
                            <div class="social_cion">
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="single_doctor_slide">
                            <div class="doctor_img">
                                <img src="/Areas/UserWeb/Content/assets/img/doctor3.jpg" alt="">
                            </div>
                            <h5>Risi siva</h5>
                            <span>Cardiology</span>
                            <p>Pound oculus a lens that will give the impressi And that’s just one of many attractio.</p>
                            <div class="social_cion">
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- doctor Area Start-->
    <!-- Counter Area Start-->
    <div class="counter_area2">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="single_counter2">
                        <span>Satisfied patients</span>
                        <h1><span class="count">508</span>+</h1>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single_counter2">
                        <span>Successfull surgeries</span>
                        <h1><span class="count">120</span></h1>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single_counter2">
                        <span>Working Hours</span>
                        <h1><span class="count">500</span></h1>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single_counter2">
                        <span>Spacialist doctors</span>
                        <h1><span class="count">25</span>+</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Area End-->
</div>
<!-- Doctors Area Start-->
<div class="tc_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-8 text-center">
                <div class="section_title">
                    <h1>Take care of your teeth</h1>
                    <p>Tracks along the Hawaiian-Emperor chain formed over and why are their chemical compositions so . </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="tc_content">
                    <p>Saturn and its innermost ring on April 26, the first of such encou nters before it will plunge into Saturn’s atmosphere in September. What Cassini did not detect were many of the collisions of dust particles hitting the spacecraft as .</p>
                    <br>
                    <ul class="tc_list">
                        <li><i class="zmdi zmdi-chevron-right"></i> &nbsp; &nbsp; Chemical compositions that eventually made their way </li>
                        <li><i class="zmdi zmdi-chevron-right"></i> &nbsp; &nbsp; Sifting through teaspoons of clay and sand scraped from the </li>
                        <li><i class="zmdi zmdi-chevron-right"></i> &nbsp; &nbsp; Looking for these genetic signposts in sediment has become</li>
                        <li><i class="zmdi zmdi-chevron-right"></i> &nbsp; &nbsp; Would ever be possible to fish out gene fragments that were </li>
                        <li><i class="zmdi zmdi-chevron-right"></i> &nbsp; &nbsp; Scientists led by Matthias Meyer at the Max Planck Institute </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="tc_opening_time_area">
                    <div class="tc_masonry row">
                        <div class="col-md-6 single_tc_img">
                            <span style="background-image: url(/Areas/UserWeb/Content/assets/img/tc1.jpg);"></span>
                        </div>
                        <div class="col-md-6 single_tc_img height2">
                            <span style="background-image: url(/Areas/UserWeb/Content/assets/img/tc2.jpg);"></span>
                        </div>
                        <div class="col-md-6 single_tc_img height2">
                            <span style="background-image: url(/Areas/UserWeb/Content/assets/img/tc3.jpg);"></span>
                        </div>
                        <div class="col-md-6 single_tc_img">
                            <span style="background-image: url(/Areas/UserWeb/Content/assets/img/tc4.jpg);"></span>
                        </div>
                    </div>
                    <div class="opening_time" style="background-image: url(/Areas/UserWeb/Content/assets/img/opening_time_bg.jpg);">
                        <h5>Opening time</h5>
                        <ul class="opening_time_list">
                            <li>Monday 8:00am - 12:00pm</li>
                            <li>Tues - Thur8:00am - 4:30pm</li>
                            <li>Friday8:00am - 3:00pm</li>
                        </ul>
                        <a href="tel:35600265464"><i class="zmdi zmdi-phone"></i> (356) 00265464</a>
                        <a href="mailto:yourmedical@gmail.com"><i class="zmdi zmdi-email"></i> yourmedical@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Doctors Area End-->
<!-- Testimonial Area Start-->
<div class="testimonial_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7 col-md-8 text-center">
                <div class="section_title">
                    <h1>Testimonial</h1>
                    <p>Tracks along the Hawaiian-Emperor chain formed over the same hot spot in the Pacific and why are their chemical compositions so different knew this was .</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="primary_testimonial_slider home2 owl-carousel">
                    <div class="h2_single_testimonial">
                        <i class="zmdi zmdi-quote"></i>
                        <p>Cassini would be traveling at more than miles cloud tops, and a chance hit with a sand grain could be trouble The analysis indicated.</p>
                        <h5>Alejandra Pollich</h5>
                    </div>
                    <div class="h2_single_testimonial">
                        <i class="zmdi zmdi-quote"></i>
                        <p>Cassini would be traveling at more than miles cloud tops, and a chance hit with a sand grain could be trouble The analysis indicated.</p>
                        <h5>Alva Emard</h5>
                    </div>
                    <div class="h2_single_testimonial">
                        <i class="zmdi zmdi-quote"></i>
                        <p>Cassini would be traveling at more than miles cloud tops, and a chance hit with a sand grain could be trouble The analysis indicated.</p>
                        <h5>Alejandra Pollich</h5>
                    </div>
                    <div class="h2_single_testimonial">
                        <i class="zmdi zmdi-quote"></i>
                        <p>Cassini would be traveling at more than miles cloud tops, and a chance hit with a sand grain could be trouble The analysis indicated.</p>
                        <h5>Leopoldo Smith</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End-->