<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Service</h1>
                <div class="breadcroumb_link">
                    <a href="index-2.html">Home </a>/ Service
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- Service Area Start-->
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="single_service">
                    <div class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service1.png" alt=""></div>
                    <h4>Emergency unit</h4>
                    <p>Looking for these genetic signposts in sediment has become possible only in the last few years with recente composition at the deep .</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="single_service">
                    <div class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service2.png" alt=""></div>
                    <h4>Health care</h4>
                    <p>Looking for these genetic signposts in sediment has become possible only in the last few years with recente composition at the deep .</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="single_service">
                    <div class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service3.png" alt=""></div>
                    <h4>Qualified doctors</h4>
                    <p>Looking for these genetic signposts in sediment has become possible only in the last few years with recente composition at the deep .</p>
                </a>
            </div>

            <div class="col-md-4">
                <a href="#" class="single_service">
                    <div class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service4.png" alt=""></div>
                    <h4>Ambulance</h4>
                    <p>Looking for these genetic signposts in sediment has become possible only in the last few years with recente composition at the deep .</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="single_service">
                    <div class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service5.png" alt=""></div>
                    <h4>Drag store</h4>
                    <p>Looking for these genetic signposts in sediment has become possible only in the last few years with recente composition at the deep .</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="single_service">
                    <div class="service_icon"><img src="/Areas/UserWeb/Content/assets/img/service6.png" alt=""></div>
                    <h4>DNA testing</h4>
                    <p>Looking for these genetic signposts in sediment has become possible only in the last few years with recente composition at the deep .</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Service Area End-->
<!-- Counter Area Start-->
<div class="counter_area">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-md-3 col-6">
                <div class="single_counter">
                    <h1><span class="count">108</span></h1>
                    <span>Our staff</span>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="single_counter">
                    <h1><span class="count">20</span>+</h1>
                    <span>Years of experience</span>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="single_counter">
                    <h1><span class="count">1450</span></h1>
                    <span>Happy smiler</span>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="single_counter">
                    <h1><span class="count">646</span></h1>
                    <span>Blood Donate</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Area End-->
<!-- Doctors Area Start-->
<div class="doctor_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-8 text-center">
                <div class="section_title">
                    <h1>Medifair Doctors</h1>
                    <p>Composition at the deep mantle, just at the border of its core Scientists have seismic evidence that the deep part of the mantle</p>
                </div>
            </div>
        </div>
        <div class="row justify">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="doctor_content">
                    <h4>About our doctors</h4>
                    <p>Because the animals’ houses were too fragile to be harvested and collected specimens were never able to build houses outside the ocean.To study the zooplankton in their natural.</p>
                    <a class="read_btn" href="#">Know more  <i class="zmdi zmdi-plus"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_doctor">
                    <a href="#" class="doctor_img">
                        <img src="/Areas/UserWeb/Content/assets/img/doctor1.jpg" alt="">
                    </a>
                    <h5>Steven Elliott</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_doctor">
                    <div class="doctor_img">
                        <img src="/Areas/UserWeb/Content/assets/img/doctor2.jpg" alt="">
                    </div>
                    <h5>Risi siva</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="single_doctor">
                    <div class="doctor_img">
                        <img src="/Areas/UserWeb/Content/assets/img/doctor3.jpg" alt="">
                    </div>
                    <h5>Sara remos</h5>
                    <span>Cardiology</span>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Doctors Area End-->