<!-- appoinment Page Start-->
<div class="appoinment_form_area create_appointment_area p100">
    <div class="container">
        <div class="step-box" id="step-1">
            <h2 class="text-center">
                <b>Bước 1/2: Chọn loại xét nghiệm:</b>
            </h2>
            <div id="alert-required-labtests" class="alert alert-danger" role="alert">
                Xin quý khách vui lòng chọn các loại xét nghiệm cần làm!
            </div>
            <div id="step-1-form">
            </div>
            <div class="button-box">
                <button id="btn-next" type="button" class="custom_btn next_btn">
                    Bước 2
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div> <!-- end step 1 -->
        <div class="step-box step-box-2" id="step-2">
            <h2>
                <b>Bước 2/2: Chọn thời gian lấy mẫu:</b>
            </h2>
            <div id="alert-required-datetime" class="alert alert-danger" role="alert">
                Xin quý khách vui lòng điền đầy đủ thông tin: ngày, giờ
            </div>
            <div id="step-2-form">
            </div>

            <div class="button-box text-center">
                <button id="btn-prev" type="button" class="custom_btn prev_btn">
                    <i class="fa fa-arrow-left"></i>
                    Bước 1
                </button>
                <button id="btn-submit" type="button" class="custom_btn submit_btn">
                    Đặt lịch
                    <i class="fa fa-clock"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- appoinment Page End-->
<!-- Modal -->
<div id="success-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text text-center out-message">Đặt lịch thành công!</h3>
            </div>
            <div class="modal-footer">
                <div class="button-box">
                    <a href="/UserWeb/Appointment/ViewAppointments" class="btn btn-success"data-dismiss="modal">Đồng ý</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="fail-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text text-center out-message">
                    Có lỗi xảy ra.
                    Xin quý khách vui lòng thử lại.
                </h3>
            </div>
            <div class="modal-footer">
                <div class="button-box">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="processing-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="box-loader">
                    <img class="img-loader" src="~/Areas/UserWeb/Images/color-dots-loader.gif" />
                </div>
                <h3 class="text text-center out-message">
                    Hệ thống đang xử lí.<br />
                    Xin quý khách vui lòng chờ trong giây lát...
                </h3>
            </div>
        </div>

    </div>
</div>


<script id="step-1-template" type="x-tmpl-mustache">
    {{#Samples}}
    <div class="sample-box">
        <h3>{{SampleName}}</h3>
        <div data-sample-index="{{Index}}" class="row">
            {{#LabTests}}
            <div class="col-md-3">
                <div class="pretty p-icon p-smooth p-bigger">
                    <input type="checkbox" data-labtest-index="{{Index}}" data-labtest-id="{{LabTestId}}" 
                           {{#IsSelected}}checked{{/IsSelected}} />
                    <div class="state p-danger">
                        <i class="icon fa fa-check"></i>
                        <label>{{LabTestName}}</label>
                    </div>
                </div>
            </div>
            {{/LabTests}}
        </div>
    </div>
    {{/Samples}}
</script>

<script id="step-2-template" type="x-tmpl-mustache">
    <table id="table-step2">
        <thead>
            <tr>
                <th>#</th>
                <th>Lấy mẫu</th>
                <th>Loại xét nghiệm</th>
                <th>Giá (vnđ)</th>
                <th>Ngày</th>
                <th>Giờ</th>
            </tr>
        </thead>
        <tbody>
            {{#Samples}}
            {{#IsSelected}}
            <tr data-sample-index="{{Index}}" data-sample-id="{{SampleId}}">
                <td></td>
                <td>{{SampleName}}</td>
                <td>
                    <ul class="text-left">
                        {{#LabTests}}
                        {{#IsChecked}}
                        <li>{{LabTestName}}</li>
                        {{/IsChecked}}
                        {{/LabTests}}
                    </ul>
                </td>
                <td>
                    <ul class="ul-price text-right">
                        {{#LabTests}}
                        {{#IsChecked}}
                        <li>{{FmPrice}}</li>
                        {{/IsChecked}}
                        {{/LabTests}}
                    </ul>
                </td>
                <td>
                    <input type="date" value="2018-12-01" min="2018-11-22" max="2018-12-30" />
                </td>
                <td>
                    <select style="overflow-y: scroll">
                    </select>
                </td>
            </tr>
            {{/IsSelected}}
            {{/Samples}}
            <tr>
                <td></td>
                <td></td>
                <td><b>Tổng cộng:</b></td>
                <td id="total-price" class="text-right"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</script>


<script id="options-template" type="x-tmpl-mustache">
    <option value="">-- Vui lòng chọn một ca --</option>
    {{#SlotOptions}}
    <option value="{{SlotId}}" data-start-time="{{StartTime}}" {{#IsUnavailable}} disabled {{/IsUnavailable}}>
        {{FmStartTime}}-{{FmFinishTime}}
        {{#IsUnavailable}}
        (hết chỗ)
        {{/IsUnavailable}}
    </option>
    {{/SlotOptions}}
</script>
