<!-- appoinment Page Start-->
<div class="appoinment_form_area create_appointment_area p100">
    <div class="container">
        <div class="step-box" id="step-1">
            <h2 class="text-center">
                <b>Bước 1/2: Chọn loại xét nghiệm:</b>
            </h2>
            <div id="alert-required-labtests" class="alert alert-danger" role="alert">
                Xin quý khách vui lòng chọn các loại xét nghiệm cần làm!
            </div>
            <div id="step-1-form">
            </div>
            <div class="button-box">
                <button id="btn-next" type="button" class="custom_btn next_btn">
                    Bước 2
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div> <!-- end step 1 -->
        <div class="step-box step-box-2" id="step-2">
            <h2>
                <b>Bước 2/2: Chọn thời gian lấy mẫu:</b>
            </h2>
            <div id="alert-required-datetime" class="alert alert-danger" role="alert">
                Xin quý khách vui lòng điền đầy đủ thông tin: ngày, giờ
            </div>
            <div id="step-2-form" style="display: none">
                <div id="step-2a-form">
                </div>
                <div id="step-2b-form">
                </div>
            </div>

            <div>

                <div id="ap-1">
                    <div class="row" style="display: none">
                        <div class="col-md-2">
                            <h3>Ngày:</h3>
                            <input id="coming-date" type="date" value="2018-11-08" min="2018-11-08" max="2018-11-16">
                        </div>
                        <div class="col-md-2">
                            <h3>Giờ có mặt:</h3>
                            <div>
                                <select id="coming-hour" style="overflow-y: scroll">
                                    <option value="">--</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7" selected>7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                </select>
                                giờ
                                <select id="coming-min" style="overflow-y: scroll">
                                    <option value="">--</option>
                                    <option value="00" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                                phút
                            </div>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Lấy mẫu</th>
                                <th>Loại xét nghiệm</th>
                                <th>Ngày</th>
                                <th>Giờ</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Máu</td>
                                <td>
                                    <ul class="text-left">
                                        <li>Ct Máu</li>
                                        <li>Huyết đồ</li>
                                        <li>Chức năng đông máu toàn bộ</li>
                                    </ul>
                                </td>
                                <td>
                                    <input id="coming-date" type="date" value="2018-11-08" min="2018-11-08" max="2018-11-14" />
                                </td>
                                <td>
                                    <select style="overflow-y: scroll" id="first-select">
                                        <option value="">-- Vui lòng chọn một ca --</option>
                                        <option value="25200" selected="">7:00 - 7:20</option>
                                        <option value="27600">7:40 - 8:00</option>
                                        <option value="30000">8:20 - 8:40</option>
                                        <option value="32400">9:00 - 9:20</option>
                                        <option value="34800">9:40 - 10:00</option>
                                        <option value="37200">10:20 - 10:40</option>
                                        <option value="39600">11:00 - 11:20</option>
                                        <option value="42000">11:40 - 12:00</option>
                                        <option value="44400">12:20 - 12:40</option>
                                        <option value="46800">13:00 - 13:20</option>
                                        <option value="49200">13:40 - 14:00</option>
                                        <option value="51600">14:20 - 14:40</option>
                                        <option value="54000">15:00 - 15:20</option>
                                        <option value="56400">15:40 - 16:00</option>
                                        <option value="58800">16:20 - 16:40</option>
                                        <option value="61200">17:00 - 17:20</option>
                                    </select>
                                </td>
                                <td>
                                    200.000 đ
                                </td>
                            </tr>
                            <tr id="tr-2">
                                <td>2</td>
                                <td>Nước tiểu</td>
                                <td>
                                    <ul class="text-left">
                                        <li>Nước tiểu toàn phần</li>
                                        <li>Heroin (test nhanh)</li>
                                    </ul>
                                </td>
                                <td>
                                    <input id="coming-date" type="date" value="2018-11-08" min="2018-11-08" max="2018-11-14" onchange="ewAp2()" />
                                </td>
                                <td>
                                    <select style="overflow-y: scroll" id="first-select">
                                        <option value="">-- Vui lòng chọn một ca --</option>
                                        <option value="25200">7:00 - 7:20</option>
                                        <option value="27600" selected>7:40 - 8:00</option>
                                        <option value="30000">8:20 - 8:40</option>
                                        <option value="32400">9:00 - 9:20</option>
                                        <option value="34800">9:40 - 10:00</option>
                                        <option value="37200">10:20 - 10:40</option>
                                        <option value="39600">11:00 - 11:20</option>
                                        <option value="42000">11:40 - 12:00</option>
                                        <option value="44400">12:20 - 12:40</option>
                                        <option value="46800">13:00 - 13:20</option>
                                        <option value="49200">13:40 - 14:00</option>
                                        <option value="51600">14:20 - 14:40</option>
                                        <option value="54000">15:00 - 15:20</option>
                                        <option value="56400">15:40 - 16:00</option>
                                        <option value="58800">16:20 - 16:40</option>
                                        <option value="61200">17:00 - 17:20</option>
                                    </select>
                                </td>
                                <td>
                                    500.000 đ
                                </td>
                            </tr>
                            <tr>
                                <td id="no-3">3</td>
                                <td>Dịch</td>
                                <td>
                                    <ul class="text-left">
                                        <li>Soi tươi, nhuộm Gram</li>
                                        <li>Chlamydia</li>
                                        <li>Demodex</li>
                                    </ul>
                                </td>
                                <td>
                                    <input id="coming-date" type="date" value="2018-11-08" min="2018-11-08" max="2018-11-14" />
                                </td>
                                <td>
                                    <select style="overflow-y: scroll" id="first-select">
                                        <option value="">-- Vui lòng chọn một ca --</option>
                                        <option value="25200">7:00 - 7:20</option>
                                        <option value="27600">7:40 - 8:00</option>
                                        <option value="30000" selected>8:20 - 8:40</option>
                                        <option value="32400">9:00 - 9:20</option>
                                        <option value="34800">9:40 - 10:00</option>
                                        <option value="37200">10:20 - 10:40</option>
                                        <option value="39600">11:00 - 11:20</option>
                                        <option value="42000">11:40 - 12:00</option>
                                        <option value="44400">12:20 - 12:40</option>
                                        <option value="46800">13:00 - 13:20</option>
                                        <option value="49200">13:40 - 14:00</option>
                                        <option value="51600">14:20 - 14:40</option>
                                        <option value="54000">15:00 - 15:20</option>
                                        <option value="56400">15:40 - 16:00</option>
                                        <option value="58800">16:20 - 16:40</option>
                                        <option value="61200">17:00 - 17:20</option>
                                    </select>
                                </td>
                                <td>
                                    300.000 đ
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>TỔNG CỘNG:</td>
                                <td>1.000.000 đ</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="ap-2" style="display: none">
                    <div class="row">
                        <div class="col-md-2">
                            <h3>Ngày:</h3>
                            <input id="coming-date" type="date" value="2018-11-09" min="2018-11-08" max="2018-11-16">
                        </div>
                        <div class="col-md-2">
                            <h3>Giờ có mặt:</h3>
                            <div>
                                <select id="coming-hour" style="overflow-y: scroll">
                                    <option value="">--</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7" selected>7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                </select>
                                giờ
                                <select id="coming-min" style="overflow-y: scroll">
                                    <option value="">--</option>
                                    <option value="00" selected>00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                                phút
                            </div>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Lấy mẫu</th>
                                <th>Loại xét nghiệm</th>
                                <th>Ngày</th>
                                <th>Giờ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Nước tiểu</td>
                                <td>
                                    <ul class="text-left">
                                        <li>Nước tiểu toàn phần</li>
                                        <li>Heroin (test nhanh)</li>
                                    </ul>
                                </td>
                                <td>
                                    <input id="coming-date" type="date" value="2018-11-09" min="2018-11-08" max="2018-11-14" />
                                </td>
                                <td>
                                    <select style="overflow-y: scroll" id="first-select">
                                        <option value="">-- Vui lòng chọn một ca --</option>
                                        <option value="25200">7:00 - 7:20</option>
                                        <option value="27600" selected>7:40 - 8:00</option>
                                        <option value="30000">8:20 - 8:40</option>
                                        <option value="32400">9:00 - 9:20</option>
                                        <option value="34800">9:40 - 10:00</option>
                                        <option value="37200">10:20 - 10:40</option>
                                        <option value="39600">11:00 - 11:20</option>
                                        <option value="42000">11:40 - 12:00</option>
                                        <option value="44400">12:20 - 12:40</option>
                                        <option value="46800">13:00 - 13:20</option>
                                        <option value="49200">13:40 - 14:00</option>
                                        <option value="51600">14:20 - 14:40</option>
                                        <option value="54000">15:00 - 15:20</option>
                                        <option value="56400">15:40 - 16:00</option>
                                        <option value="58800">16:20 - 16:40</option>
                                        <option value="61200">17:00 - 17:20</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="button-box text-center">
                <button id="btn-prev" type="button" class="custom_btn prev_btn">
                    <i class="fa fa-arrow-left"></i>
                    Bước 1
                </button>
                <button id="btn-submit" type="button" class="custom_btn submit_btn">
                    Đặt lịch
                    <i class="fa fa-clock"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- appoinment Page End-->
<!-- Modal -->
<div id="success-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text text-center out-message">Đặt lịch thành công!</h3>
            </div>
            <div class="modal-footer">
                <div class="button-box">
                    <a href="/UserWeb/Appointment/Current">
                        <button type="button" class="btn btn-success">Đồng ý</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="fail-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text text-center out-message">
                    Có lỗi xảy ra.
                    Xin quý khách vui lòng thử lại.
                </h3>
            </div>
            <div class="modal-footer">
                <div class="button-box">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="processing-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="box-loader">
                    <img class="img-loader" src="~/Areas/UserWeb/Images/color-dots-loader.gif" />
                </div>
                <h3 class="text text-center out-message">
                    Hệ thống đang xử lí.<br />
                    Xin quý khách vui lòng chờ trong giây lát...
                </h3>
            </div>
        </div>

    </div>
</div>


<script id="step-1-template" type="x-tmpl-mustache">
    {{#Samples}}
    <div class="sample-box">
        <h3>{{SampleName}}</h3>
        <div data-sample-index="{{Index}}" class="row">
            {{#LabTests}}
            <div class="col-md-3">
                <div class="pretty p-icon p-smooth p-bigger">
                    <input type="checkbox" data-labtest-index="{{Index}}" 
                           {{#IsSelected}}checked{{/IsSelected}} />
                    <div class="state p-danger">
                        <i class="icon fa fa-check"></i>
                        <label>{{LabTestName}}</label>
                    </div>
                </div>
            </div>
            {{/LabTests}}
        </div>
    </div>
    {{/Samples}}
</script>

<script id="step-2a-template" type="x-tmpl-mustache">
    <h3>Bạn sẽ đến vào ngày:</h3>
    <input id="coming-date" type="date" value="{{Date}}" min="2018-11-06" max="2018-11-14"/>
    <h3>Bạn có thể có mặt từ lúc:</h3>
    <div>
        <select id="coming-hour" style="overflow-y: scroll">
            <option value="">--</option>
            {{#Hours}}
            <option value="{{.}}">{{.}}</option>
            {{/Hours}}
        </select>
        giờ
        <select id="coming-min" style="overflow-y: scroll">
            <option value="">--</option>
            {{#Mins}}
            <option value="{{.}}">{{.}}</option>
            {{/Mins}}
        </select>
        phút
    </div>
</script>

<script id="step-2b-template" type="x-tmpl-mustache">
    {{#Samples}}
    {{#IsDisplay}}
    <h3>Thời gian lấy mẫu {{SampleName}}:</h3>
    <div data-sampleid="{{SampleId}}" data-sample-duration="{{SampleDuration}}">
        <select style="overflow-y: scroll">
            <option value="">-- Vui lòng chọn một ca --</option>
            {{#Slots}}
            <option value="{{SlotId}}" {{#IsSelected}}selected {{/IsSelected}}>
                {{FmStartTime}} - {{FmFinishTime}}
            </option>
            {{/Slots}}
        </select>
    </div>
    {{/IsDisplay}}
    {{/Samples}}
</script>