@section styles {
    <link rel="stylesheet" href="~/Areas/UserWeb/Styles/Appointment/Appointment.css">
}

<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Chỉnh sửa lịch hẹn</h1>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->

@(Html.Partial("_AppointmentForm"))

@section scripts{
    <script src="~/Areas/UserWeb/Scripts/Appointment/_AppointmentForm.js"></script>
    <script src="~/Areas/UserWeb/Scripts/Appointment/Edit.js"></script>
}