@{ 
    ViewBag.Title = "Chỉnh sửa lịch hẹn";
    var appDto = ViewBag.appDto;
    var now = DateTime.Now;
    var today = now.ToString("yyyy-MM-dd");
    var tomorrow = now.AddDays(1).ToString("yyyy-MM-dd");
    var maxDate = now.AddDays(7).ToString("yyyy-MM-dd");
}

@section styles {
    <link rel="stylesheet" href="~/Areas/UserWeb/Styles/Appointment/Appointment.css">
}

<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Chỉnh sửa lịch hẹn</h1>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->

@(Html.Partial("_AppointmentForm"))

@section scripts{
    <script>
        var json = '@(Html.Raw(Json.Encode(appDto)))';
        AppointDto = JSON.parse(json);
        flagInitForEdit = true;
        Today = '@today';
        Tomorrow = '@tomorrow';
        MaxGettingDate = '@maxDate';
    </script>
    <script src="~/Areas/UserWeb/Scripts/Appointment/_AppointmentForm.js"></script>
    <script src="~/Areas/UserWeb/Scripts/Appointment/Edit.js"></script>
}